{% extends "base.html" %}
{% load static %}

{% block 'title' %}{{exame.exame}} do cliente {{exame.usuario.get_full_name}} | Vitalab{% endblock %}

{% block 'conteudo' %}
    <br>
    <div class="container">
        {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <div class="row">
        <h3 class="font-destaque">{{exame.usuario.get_full_name}}</h3>
        <p>{{exame.usuario.email}}</p>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <form action="" method="POST"> {% csrf_token %}
                    <label for="alterar_pdf">Alterar Arquivo:</label>
                    <br>
                    <input type="file" id="alterar_pdf" value="Alterar PDF" class="btn-secundario" name="resultado">
                    <br>
                    <br>
                    {% if exame.resultado %}
                        <a class="btn btn-light" href="{% url "proxy_pdf" exame.id %}" target="__blank">
                            <div style="width: 100%; text-decoration: none; color: black;" id="pdf-container">Abrir exame</div>
                        </a>
                    {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Status</h3>
                <select name="status" id="" class="form-select">
                    <option style="color: black;" value="E">Em análise</option>
                    <option style="color: black;" value="F">Finalizado</option>
                </select>
                <br>
                <input type="checkbox" name="requer_senha" id="">&nbsp;&nbsp;<label for="">Requer senha para acessar ?</label>
                <br>
                <br>
                <input type="submit" value="Salvar" class="btn-default">
                </form>
                <a style="text-decoration: none;" href="" class="btn-secundario">Gerar senha</a>
            </div>
        </div>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <script>
        const container = document.getElementById('pdf-container');

        pdfjsLib.getDocument('').promise.then(pdf => {
            pdf.getPage(1).then(page => {
                const canvas = document.createElement('canvas');
                const context = canvas.getContext('2d');
                const viewport = page.getViewport({ scale: 0.6 });

                canvas.width = viewport.width;
                canvas.height = viewport.height;

                page.render({ canvasContext: context, viewport }).promise.then(() => {
                    container.appendChild(canvas);
                });
            });
        });
    </script>

{% endblock 'conteudo' %}